<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteBase /

    RewriteCond %{HTTP_HOST} ^zedd.cc$

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteCond %{REQUEST_URI} !^/front/
    RewriteCond %{REQUEST_URI} !^/backend/public/
    RewriteRule ^(.*)$ /backend/public/$1
    RewriteRule ^(/)?$ index.php [L]
</IfModule>